*{
 box-sizing: border-box;
}
/*CSS for headng*/
.heading{
  color: #2d2016;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 2px 0px #777, 0px 2px 0px #666, 0px 2px 0px #555, 0px 2px 0px #444, 0px 2px 0px #333, 0px 2px 7px #001135;
	font: 50px 'Montserrat';
  font-weight: 300;

}
/* Css for shares */
.shares {
  display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: space-around;
	align-items: center;
	align-content: center;
  width: 60%;
  height: inherit;
  border: 1px solid black;
}

/* Css for cash  */
.cash {
 padding-top: 10px;
 float: right;
 width: 10%;
 border: 1px solid black;
 height: inherit;
}
/* Css for tiles  */
.tiles {
 float: right;
 width: 30%;
 border: 1px solid black;
 height: inherit;
}



/* Add a gray background color with some padding */

body {
 font-family: 'Montserrat', sans-serif;;
 padding: 20px;
 background: #fff;
}

/* Header/Blog Title */

.header {
  height: 65px;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  background: #ceb19c;
}

/* Create two unequal columns that floats next to each other */

/* Left column */
td{
  border-radius: 15%;
 background: #6f4e37;
 color: #FFC7A6;
 text-align: center;
 height: 57px;
 width: 57px;
 border: 1px solid black;
}

.centercolumn {
 float: left;
 width: 55%;
 height: 55%;
 padding-left: 20px;
}

/* left column */

#hotel-heading{
 color: black;
}

.leftcolumn {
 color: black;
 float: left;
 width: 20%;
 padding-left: 0px;
}

/* Right column */

.rightcolumn {
 float: left;
 width: 25%;
 padding-left: 20px;
}

/* Fake content */

.hotels{
  margin-left: 50px;
  height:48px;
  width:48px;
  float: left;
}

.logSpace {
 background-color: #e7d9ce;
 width: 100%;
 height: 450px;
 padding: 5px;
}

.fakeContent {
 background-color: #e7d9ce;
 width: 100%;
 height: 50px;
 padding: 5px;
 margin-bottom: 5px;
}

#centercolumn{
  display: flex;
  justify-content: center;
}

/* Add a card effect for articles */

.region {
 background-color: #ceb19c;
padding: 14px;
 margin-top: 5px;
}

/* Clear floats after the columns */

.row:after {
 content: "";
 display: table;
 clear: both;
}

/* Footer */

.footer {
 height: 100px;
 background: #ceb19c;
 margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 800px) {
 .leftcolumn,
 .center,
 .rightcolumn {
   width: 100%;
   padding: 0;
 }
}

#playerName{
 float: right;
 font-size: 22px;
}


/*CSS for tiles*/

#tileBox{
  margin-top: 21px;
  display: flex;
  justify-content: space-around;
}

.tile{
  border-radius: 0%;
  line-height: 5px;
  font-weight: 300;
  font-size: 17px;
  color: #FFC7A6;
  background-color: #2d2016;
  width: 57px;
  height:57px;
}

.share-button{
  border-radius: 10%;
}

 .tile span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }

 #grid{
   border: 3px solid black;
   align-self: center;
 }


 .independent{
  background-color: #2d2016;
 }
 .Sackson{
   background-image:url('../images/Sackson.png');
   background-color:#D33744;
 }
 .Zeta{
   background-image:url('../images/Zeta.png');
   background-color: #D39F18;
 }
 .Hydra{
   background-image:url('../images/Hydra.png');
   background-color: #FF7930;
 }
 .Fusion{
   background-image:url('../images/Fusion.png');
   background-color: #53B856;
 }
 .America{
   background-image:url('../images/America.png');
   background-color: #4364F0;
 }
 .Phoenix{
   background-image:url('../images/Phoenix.png');
   background-color:#A863E4;
 }
 .Quantum{
   background-image:url('../images/Quantum.png');
   background-color:#2496B0;
 }

#turns div{
  width:70px;
  height: 50px;
  font-size:18px;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

 #currentPlayer{
   border-radius: 35%;
   background-color: rgba(222, 28, 28, 0.47);
   color: black;
 }

.hidden{
  display: none;
}

.shareCard{
  box-shadow: 5px 5px;
  border-radius: 10px;
  width:12%;
  height: 80%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.cartCards{
  width:30%;
  height: 80%;
  border: 1px solid #000000;
  justify-content: space-around;
  flex-direction: row;
}

.removeButton{
  z-index: -1;
  font-size: 22px;
}

.removeButton:hover{
  color:#fb0000;
  cursor: pointer;
}
/*CSS for actions*/
.actions{
  border-radius: 10px;
  width:50%;
  height: 80%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.currentActivity{
  width: 30%;
}

#activity-log{
  overflow-y: scroll;
}

#turns{
  width:300px;
  height: 85%;
  display: flex;
  float: left;
  justify-content: space-around;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	align-content: flex-end;
}


.actionPane button{
  height: 50px;
  width: 50px;
}

.actionPane {
  width: 100%;
  height: 70px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: center; */
	align-items: center;
	align-content: center;
  font-size: 10px;
  text-align: center;
  background: #ceb19c;
}

#board{
  display: flex;
  padding-top: 25px;
  justify-content: center;
}

#cart{
  display: inline-flex;
  align-items: center;
  justify-content:space-around;
  /* align-content: center; */
  height: 40px;
  width: 150px;
  border:1px solid black;
  background-color: white;
}

.modal {
    padding: 12px;
    text-align: center;
    display: none; /* Hidden by default */
    width:100%; /* Full width */
    height: 75px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.15); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 12px;
    border: 1px solid #888;
    width: 80%;
}
button[name="Start hotel"]{
  background: rgb(133, 71, 32);
  color: rgb(106, 191, 238);
  font-weight: 100;
}
button[name="Start hotel"]:hover{
  opacity: 0.8;
}

button[name="Start hotel"], select{
  margin-top: 5px;
  width: 100%;
  font-size: 18px;
}

.no-img{
  background-image: none;
}
.bg-none{
  margin-left: 0;
  background-color:rgba(207, 177, 156, 0);
}
#buyButton{
  height:30px;
  width:50px;
}

.titles{
  padding: 3px;
  height: 23px;
  margin-bottom: 3px;
}
.title{
  font-weight: 500;
  float: left;
  width: 33%;
}
