div.container{
  text-align: center;
  height:300px;
  width: 250px;
  border: 2px solid black;
}
div.hidden{
  display: none;
}
div.show{
  text-align: center;
  display: block;
}

div.centered{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}
